node_modules
dist
env 
package-lock.json
yarn-error.log
*.log
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.local
*.tsbuildinfo
*.tgz
*.zip
*.tar.gz
*.tgz
*.tar
*.gz

